<a href="https://colab.research.google.com/github/Naptuna/Machine-Intelligence-Assignment/blob/main/Machine_Learning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Library Section - Importing all the necesarry libraries that are needed to run the code

In [2]:
import collections
import csv 
import pandas as pd
from numpy import random

from copy import deepcopy    
from numpy.random import randint

Array Section - Creating Arrays for adding data as part of the algorithms

In [28]:
import random

#Created Arrays - Added data such as days and room numbers
Week_Days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

Time_Slots = ['Morning','Afternoon',]

Room_Numbers = ["P411", "P412", "P413", "P414", "P415", "P416","P417", "P418", "P419", "P420"]

#Printing the arrays
print ('Total Days:'+ str(Week_Days))

print ('Rooms:' + str(Room_Numbers))

print ('Time Slot:'+ str(Time_Slots))

#Test for identifying value in an array
for Test in Week_Days:
  if Test == 'Friday':
    print ('Bingo, Bango')

Total Days:['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
Rooms:['P411', 'P412', 'P413', 'P414', 'P415', 'P416', 'P417', 'P418', 'P419', 'P420']
Time Slot:['Morning', 'Afternoon']
Bingo, Bango

CSV Testing Zone - Reading table files and prints out the results in an array

In [36]:
student_table = pd.read_csv('/content/student_units.csv.csv')
student_table.head()

   ID Student Name Unitcode
0   0     Student1   CIS311
1   1     Student2   CIS312
2   2     Student3   CIS322
3   3     Student4   CIS323
4   4     Student5   CIS315

In [37]:
tutor_table = pd.read_csv('/content/tutor.csv.csv')
tutor_table.head()

  Tutor_Name
0     Tutor1
1     Tutor2
2     Tutor3
3     Tutor4
4     Tutor5

In [35]:
unit_table = pd.read_csv('/content/units.csv.csv')
unit_table.head()

  Unitcode                           Name
0   CIS311          Machine Intelligence
1   CIS312        Electronics Engineering
2   CIS313           Discrete Mathematics
3   CIS314  Intro to Software Engineering
4   CIS315             Programming Basics

In [41]:
#Student Units Table 
with open('/content/student_units.csv.csv') as csv_table_file:
  table_scan = csv.reader(csv_table_file)

  student_table_array = list(csv_table_file)
  print(student_table_array)

#Tutor Table
with open('/content/tutor.csv.csv') as csv_table_file:
  table_scan = csv.reader(csv_table_file)

  tutor_table_array = list(csv_table_file)
  print(tutor_table_array)

#Unit Table
with open('/content/units.csv.csv') as csv_table_file:
  table_scan = csv.reader(csv_table_file)

  unit_table_array = list(csv_table_file)
  print(unit_table_array)

['ID,Student Name,Unitcode\n', '0,Student1,CIS311\n', '1,Student2,CIS312\n', '2,Student3,CIS322\n', '3,Student4,CIS323\n', '4,Student5,CIS315\n', '5,Student6,CIS316\n', '6,Student7,CIS327\n', '7,Stduent8,CIS328\n', '8,Student9,CIS329\n', '9,Student10,CIS330\n', '10,Student11,CIS318\n', '11,Stduent12,CIS322\n', '12,Student13,CIS333\n', '13,Student14,CIS328\n', '14,Student15,CIS313\n', '15,Student16,CIS314\n', '16,Student17,CIS326\n', '17,Student18,CIS314\n', '18,Student19,CIS331\n', '19,Student 20,CIS332\n', '20,Student21,CIS333\n', '21,Student 22,CIS336\n', '22,Student23,CIS334\n', '23,Student24,CIS335\n', '24,Student25,CIS336\n', '25,Student26,CIS330\n', '26,Student27,CIS320\n', '27,Student28,CIS317\n', '28,Student29,CIS313\n', '29,Student30,CIS319\n', '30,Student31,CIS331\n']
['Tutor_Name\n', 'Tutor1\n', 'Tutor2\n', 'Tutor3\n', 'Tutor4\n', 'Tutor5\n', 'Tutor6\n', 'Tutor7\n', 'Tutor8\n', 'Tutor9\n', 'Tutor10\n', 'Tutor11\n', 'Tutor12\n', 'Tutor13\n', 'Tutor14\n', 'Tutor15\n', 'Tutor16\n', 'Tutor17\n', 'Tutor18\n', 'Tutor19\n', 'Tutor20\n', 'Tutor21\n', 'Tutor22\n', 'Tutor23\n', 'Tutor24\n', 'Tutor25\n', 'Tutor26\n', 'Tutor27\n', 'Tutor28\n', 'Tutor29\n', 'Tutor30\n']
['Unitcode,Name\n', 'CIS311,Machine Intelligence \n', 'CIS312,Electronics Engineering\n', 'CIS313,Discrete Mathematics\n', 'CIS314,Intro to Software Engineering\n', 'CIS315,Programming Basics\n', 'CIS316,Database Systems\n', 'CIS317,Operating Systems\n', 'CIS318,Design & Analysis of Algorithms\n', 'CIS319,Digital Forensics\n', 'CIS320,Computer Networks\n', 'CIS321,Software Engineering\n', 'CIS322,Computer Organization and Assembly Language\n', 'CIS323,Programming for AI\n', 'CIS324,Big Data Analytics\n', 'CIS325,Artificial Intelligence\n', 'CIS326,Data Structures\n', 'CIS327,Computer Organization & Assembly Language\n', 'CIS328,Discrete Structures\n', 'CIS329,Differential Equations\n', 'CIS330,Cognitive Science\n', 'CIS331,Marketing Management\n', 'CIS332,Fundamentals of Management\n', 'CIS333,Soft Computing Methods\n', 'CIS334,Communication & Presentation Skills\n', 'CIS335,Object Oriented Modelling\n', 'CIS336,Probability and Statistics\n']

In [59]:
#Testing random generation and adding them to an array
#random selected units from the array
random_Day = random.choice(Week_Days)
random_Time_Slot = random.choice(Time_Slots)
random_Room = random.choice(Room_Numbers)

#random selected units from the csv files
random_student = random.choice(student_table_array)
random_tutor = random.choice(tutor_table_array)
random_unit = random.choice(unit_table_array)

random_array = [random_Day, random_Time_Slot, random_Room]
random_csv_array = [random_student, random_tutor, random_unit]
random_csv_array_units = [random_Day, random_Time_Slot, random_Room, random_student, random_tutor, random_unit]

print ('Random Array Results:')
print ('Random Units from Arrays -' + str(random_array))
print ('')
print ('Random Units from csv files -' + str(random_csv_array))
print ('')
print ('Random Units from Arrays & csv files -' + str(random_csv_array_units))

Random Array Results:
Random Units from Arrays -['Tuesday', 'Afternoon', 'P420']

Random Units from csv files -['17,Student18,CIS314\n', 'Tutor21\n', 'CIS334,Communication & Presentation Skills\n']

Random Units from Arrays & csv files -['Tuesday', 'Afternoon', 'P420', '17,Student18,CIS314\n', 'Tutor21\n', 'CIS334,Communication & Presentation Skills\n']

Class Section - Deinfing the classes that are gonna be used in the algorithm

In [5]:
#Class Student 
#class Student_Info:

In [6]:
#Class Schdule
class Schedule:
    def __init__(self, days=dict(), fitness=0):
        self.days = days
        self.fitness = fitness
        for day in Week_Days:
            self.days[day] = []

Function Section - Deinfing the functions that are gonna be used in the algorithm

In [7]:
#Verifying the units
def Verify_Unit(units, code):
    for unit in units:
        if code == unit[0]:
            return True

    return False

Main Function - Where the program will first run the algorithm

In [30]:
def main():
  #Constraints for the algorithm 
  Population_Total = random.randint(50, 250)                    
  Max_Generation = random.randint(50, 500)                  
  Probability_Crossover = 0.9                                    
  Probability_Mutation = 0.5  
  
  #Print Values as Test
  print ('Selected Constraints:')
  print ('Population Size:' + str(Population_Total))
  print ('Max Generation:' + str(Max_Generation))
  print ('Crossover Probability:' + str(Probability_Crossover))
  print ('Mutation Probability:' + str(Probability_Mutation))

if __name__ == "__main__":
    main()

Selected Constraints:
Population Size:112
Max Generation:391
Crossover Probability:0.9
Mutation Probability:0.5