<a href="https://colab.research.google.com/github/Naptuna/Machine-Intelligence-Assignment/blob/main/Machine_Learning_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Library Section - Importing all the necesarry libraries that are needed to run the code

In [54]:
import collections
import csv 
import pandas as pd

import random
from numpy import random

from copy import deepcopy    
from colorama import Fore, Back        
from numpy.random import randint

Array Section - Creating Arrays for adding data as part of the algorithms

In [70]:
#Created Arrays - Added data such as days and room numbers
Week_Days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

Time_Slots = ['Morning','Afternoon',]

Room_Numbers = ["P411", "P412", "P413", "P414", "P415", "P416","P417", "P418", "P419", "P420"]

#Arrays to store the csv data
Unit_info = []

Tutor_info = []

Student_unit_info = []

#Printing the arrays
print ('Total Days:'+ str(Week_Days))

print ('Rooms:' + str(Room_Numbers))

print ('Time Slot:'+ str(Time_Slots))

#Test for identifying value in an array
for Test in Week_Days:
  if Test == 'Friday':
    print ('Bingo, Bango')

Total Days:['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
Rooms:['P411', 'P412', 'P413', 'P414', 'P415', 'P416', 'P417', 'P418', 'P419', 'P420']
Time Slot:['Morning', 'Afternoon']
Bingo, Bango

Class Section - Deinfing the classes that are gonna be used in the algorithm

In [7]:
#Class Student 
#class Student_Info:

In [41]:
#Class Schdule
class Schedule:
    def __init__(self, days=dict(), fitness=0):
        self.days = days
        self.fitness = fitness
        for day in Week_Days:
            self.days[day] = []

Function Section - Deinfing the functions that are gonna be used in the algorithm

In [ ]:
#Verifying the units
def Verify_Unit(units, code):
    for unit in units:
        if code == unit[0]:
            return True

    return False

CSV Testing Zone

In [69]:
#CSV File Section - Reading table files and prints out the results 
student_table = pd.read_csv('/content/student_units.csv.csv')
student_table.head()

   ID Student Name Unitcode
0   0     Student1   CIS311
1   1     Student2   CIS312
2   2     Student3   CIS322
3   3     Student4   CIS323
4   4     Student5   CIS315

In [62]:
tutor_table = pd.read_csv('/content/tutor.csv.csv')
tutor_table.head()

  Tutor_Name
0     Tutor1
1     Tutor2
2     Tutor3
3     Tutor4
4     Tutor5

In [63]:
unit_table = pd.read_csv('/content/units.csv.csv')
unit_table.head()

  Unitcode                           Name
0   CIS311          Machine Intelligence
1   CIS312        Electronics Engineering
2   CIS313           Discrete Mathematics
3   CIS314  Intro to Software Engineering
4   CIS315             Programming Basics

Main Function - Where the program will first run the algorithm

In [34]:
def main():
  #Algorithm Constraints
  Population_Total = random.randint(50, 250)                    
  Max_Generation = random.randint(50, 500)                  
  Probability_Crossover = 0.9                                    
  Probability_Mutation = 0.5  
  
  #Print Values as Test
  print ('Selected Values:')
  print ('Population Size:' + str(Population_Total))
  print ('Max Generation:' + str(Max_Generation))
  print ('Crossover Probability:' + str(Probability_Crossover))
  print ('Mutation Probability:' + str(Probability_Mutation))

if __name__ == "__main__":
    main()

Selected Values:
Population Size:97
Max Generation:482
Crossover Probability:0.9
Mutation Probability:0.5